@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 20rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr [content-start] min(70rem, 100%) [content-end] 1fr;
}

.grid-container > * {
  grid-column: content;
  width: 100%;
}

.header-grid {
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  gap: 2.625rem;
}

.footer-grid {
  margin: auto;
  display: grid;
  justify-items: center;
  gap: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-grid {
    justify-items: start;
  }
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr auto;
    justify-items: start;
    row-gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .header-grid {
    --logo-width: 143px;
    grid-template-columns: var(--logo-width) 1fr var(--logo-width);
  }

  .header-grid > :nth-last-child(1) {
    justify-self: end;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-grid {
  --padding-inline: 1.5rem;

  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns:
    1fr [content-start]
    min(70rem, 100%) [content-end] 1fr;

  > * {
    grid-column: content;
  }
}
